body {
  background-color: #faf8f8;
}
form {
  border-radius: 20px;
  width: 500px;
  height: 100%;
}
.btn {
  width: 220px;
  border-radius: 20px;
}
.custom-control {
  position: relative;
  left: 15px;
}